{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
  {{ one_post.text|slice:":30" }}
{% endblock %}

{% block content %}
<div class="container">
  <aside class="col-12 col-md-3">
    <article>
      <ul>
        <li>  
          Дата публикации: {{ one_post.pub_date }}
        </li>
        <li>
          Группа:
          {% if one_post.group %} 
            <a href="{% url 'posts:group_list' one_post.group.slug %}">
              {{ one_post.group }}
            </a>
          {% endif %}
        </li>
        <li >
          Автор: {{ one_post.author }}
        </li>
        <li>
          Всего постов автора:  <span >{{ count_post }}</span>
        </li>
        <li>
          <a href="{% url 'posts:profile' one_post.author %}">
            все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    {% thumbnail one_post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>
      {{ one_post.text }}
    </p>
    {% if is_edit%}
      <a class="btn btn-primary" href="{% url 'posts:post_edit' one_post.id %}">
        редактировать запись
      </a>
      {% endif %}
      {% include 'comment.html' %}  
  </article>
</div> 

{% endblock %} 